<div class="container mt-4">
  <div class="message-container dark-background scrollbar" style="overflow-y: auto;" #messageContainer [style.height.px]="messageContainerHeight">
    <div *ngFor="let msg of messages" class="my-message" [ngClass]="{'my-message': isMyMessage(msg), 'others-message': !isMyMessage(msg)}">
      <span class="message">{{msg.content}}</span>
    </div>
  </div>
  <div class="input-group-message">
    <input type="text" class="form-control" placeholder="Type a message..." id="messageInput" [(ngModel)]="messageInput" (keydown.enter)="sendMessage()">
    <button class="btn base-button" (click)="sendMessage()">Send</button>
  </div>
</div>
